<%= render "shared/context_nav", title: t("activerecord.models.#{ERegimento.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{ERegimento.model_name.i18n_key}.other"), e_regimentos_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@e_regimento) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @e_regimento.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{ERegimento.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-12 col-lg-8">
          <%= f.association :i_predio, collection: IPredio.includes(:g_localidade), input_html: { class: "keyup select2"}, label_method: :predio_localidade%>
        </div>
        <div class="col-12 col-lg-4">
          <%= f.input :numero_homologacao, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12">
          <%= f.input :homologacao, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.input :portaria, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-lg-6">
            <%= f.input :data_portaria, as: :string, input_html: { class: "keyup data", value: f&.object&.data_portaria&.strftime("%d/%m/%Y")}  %>
        </div>
        <div class="col-12 col-lg-4">
          <%= f.input :numero_doe, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-lg-4">
            <%= f.input :data_doe, as: :string, input_html: { class: "keyup data", value: f&.object&.data_doe&.strftime("%d/%m/%Y")}  %>
        </div>
        <div class="col-12 col-lg-4">
          <%= f.input :url_doe, input_html: { class: "keyup "}  %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", e_regimentos_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
