<div id="<%= dom_id g_taxa_aprovacao %>">
  <p>
    <strong>Serie 1:</strong>
    <%= g_taxa_aprovacao.serie_1 %>
  </p>

  <p>
    <strong>Serie 2:</strong>
    <%= g_taxa_aprovacao.serie_2 %>
  </p>

  <p>
    <strong>Serie 3:</strong>
    <%= g_taxa_aprovacao.serie_3 %>
  </p>

  <p>
    <strong>Serie 4:</strong>
    <%= g_taxa_aprovacao.serie_4 %>
  </p>

  <p>
    <strong>Serie 5:</strong>
    <%= g_taxa_aprovacao.serie_5 %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= g_taxa_aprovacao.total %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= g_taxa_aprovacao.ano %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= g_taxa_aprovacao.g_municipio_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= g_taxa_aprovacao.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= g_taxa_aprovacao.updated_by %>
  </p>

</div>
