<div id="<%= dom_id g_sedam_icms_area %>">
  <p>
    <strong>G municipio:</strong>
    <%= g_sedam_icms_area.g_municipio_id %>
  </p>

  <p>
    <strong>Area protegida:</strong>
    <%= g_sedam_icms_area.area_protegida %>
  </p>

  <p>
    <strong>Area antropizada:</strong>
    <%= g_sedam_icms_area.area_antropizada %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= g_sedam_icms_area.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= g_sedam_icms_area.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= g_sedam_icms_area.deleted_at %>
  </p>

</div>
