<div id="<%= dom_id g_saero_municipio %>">
  <p>
    <strong>G municipio:</strong>
    <%= g_saero_municipio.g_municipio_id %>
  </p>

  <p>
    <strong>G etapa saero:</strong>
    <%= g_saero_municipio.g_etapa_saero_id %>
  </p>

  <p>
    <strong>Indice lp:</strong>
    <%= g_saero_municipio.indice_lp %>
  </p>

  <p>
    <strong>Indice mt:</strong>
    <%= g_saero_municipio.indice_mt %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= g_saero_municipio.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= g_saero_municipio.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= g_saero_municipio.deleted_at %>
  </p>

</div>
