<div id="<%= dom_id i_atividade_inspecao %>">
  <p>
    <strong>Descricao:</strong>
    <%= i_atividade_inspecao.descricao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= i_atividade_inspecao.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= i_atividade_inspecao.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= i_atividade_inspecao.deleted_at %>
  </p>

</div>
