<%= render "shared/context_nav", title: t("activerecord.models.#{EFase.model_name.i18n_key}.other"), new_path: new_e_fase_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.#{EFase.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= 
        f.search_field :descricao_or_e_etapa_descricao_cont, 
        class: "form-control", 
        placeholder: "Pesquisar",
        "data-bs-popup": "tooltip",
		    "data-bs-original-title": "Pesquise por Descrição ou Etapa"
      %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), e_fases_path, class: "btn btn-light" if params[:q] %>
    <% end %>
  </div>
  <div class="card-body">
    <%= render "shared/notice" %>
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th><%= sort_link(@q, :descricao, t("activerecord.attributes.e_fase.descricao")) %></th>
          <th><%= sort_link(@q, :e_etapa, t("activerecord.attributes.e_fase.e_etapa")) %></th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @e_fases.each do |e_fase| %>
          <tr>
            <td><%= e_fase.descricao %></td>
            <td><%= e_fase.e_etapa %></td>
            <td class="text-center">
              <div class="dropdown">
                <a href="#" class="text-body dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ph-gear"></i>
                </a>
                <div class="dropdown-menu" style="">
                  <div class="dropdown-header">Opções</div>
                  <%= link_to edit_e_fase_path(e_fase), class: "dropdown-item" do %>
                    <i class="ph-pen me-2"></i> Editar
                  <% end %>
                  <%= form_for e_fase, method: :delete do |f| %>
                    <a class="dropdown-item hand-pointer " data-confirm-delete="<%= e_fase_path(e_fase) %>" data-csrf-token="<%= form_authenticity_token %>">
                      <i class="ph-trash-simple me-2"></i>Excluir
                    </a>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= render "shared/pagy", pagy: @pagy %>
  </div>
</div>
