<%= render "shared/context_nav", title: t("activerecord.models.#{IExtensao.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{IExtensao.model_name.i18n_key}.other"), i_extensoes_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@i_extensao) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @i_extensao.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{IExtensao.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-12 col-lg-6 col-xxl-7">
          <%= f.association :i_predio, collection: IPredio.includes(:g_localidade), input_html: { class: "keyup select2"}, label_method: :predio_localidade %>
        </div>
        <div class="col-12 col-lg-6 col-xxl-5">
          <%= f.input :descricao, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-md-7 col-xxl-3">
          <%= f.input :processo_sei, input_html: { class: "keyup processo_sei "}  %>
        </div>
        <div class="col-12 col-md-5 col-xxl-3">
          <%= f.input :portaria, input_html: { class: "keyup "}  %>
        </div>
        <div class="col-12 col-md-6 col-xxl-3">
          <%= f.input :data_inicio_validade, as: :string, input_html: { class: "data", value: formatar_data(@i_extensao.data_inicio_validade) } %>
        </div>
        <div class="col-12 col-md-6 col-xxl-3">
          <%= f.input :data_fim_validade, as: :string, input_html: { class: "data", value: formatar_data(@i_extensao.data_fim_validade) } %>
        </div>
        <div class="col-12 col-xxl-4">
          <%= f.association :g_localidade, input_html: { class: "keyup select2"}  %>
        </div>
        <div class="col-12 col-md-6 col-xxl-4">
          <%= f.input :latitude, input_html: { class: "keyup latitude "}  %>
        </div>
        <div class="col-12 col-md-6 col-xxl-4">
          <%= f.input :longitude, input_html: { class: "keyup longitude "}  %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.association :i_predio_mantenedor_proprietario, input_html: { class: "keyup select2"}  %>
        </div>
        <div class="col-12 col-lg-6">
          <%= f.association :i_predio_situacao, input_html: { class: "keyup select2"}  %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", i_extensoes_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
