<%= render "shared/context_nav", title: t("activerecord.models.#{IExtensao.model_name.i18n_key}.other"), new_path: new_i_extensao_path do  %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.#{IExtensao.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= 
        f.search_field :descricao_or_portaria_or_processo_sei_or_i_predio_mantenedor_proprietario_descricao_or_i_predio_nome_predio_cont, 
        class: "form-control", 
        placeholder: "Pesquisar",
        "data-bs-popup": "tooltip",
		    "data-bs-original-title": "Pesquise por Descrição, Portaria, Processo SEI, Entidade Proprietária ou Prédio"
      %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), i_extensoes_path, class: "btn btn-light" if params[:q] %>
      <div class="col-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalextensao">
          <i class="ph-file-text me-1"></i>
          Relatórios
        </button>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <%= render "shared/notice" %>
    <div class= "table-responsive" style= "max-height: 900px; overflow-y: auto;">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th><%= sort_link(@q, :descricao, t("activerecord.attributes.i_extensao.descricao")) %></th>
            <th><%= sort_link(@q, :portaria, t("activerecord.attributes.i_extensao.portaria")) %></th>
            <th><%= sort_link(@q, :data_fim_validade, "Fim Validade") %></th>
            <th><%= sort_link(@q, :g_localidade_descricao, t("activerecord.attributes.i_extensao.g_localidade")) %></th>
            <th><%= sort_link(@q, :i_predio_descricao, t("activerecord.attributes.i_extensao.i_predio")) %></th>
            <th><%= sort_link(@q, :i_predio_situacao_descricao, t("activerecord.attributes.i_extensao.i_predio_situacao")) %></th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @i_extensoes.each do |i_extensao| %>
            <tr>
              <td><%= i_extensao.descricao %></td>
              <td><%= i_extensao.portaria %></td>
              <td><%= i_extensao.data_fim_validade %></td>
              <td><%= i_extensao.g_localidade %></td>
              <td><%= i_extensao.i_predio %></td>
              <td><%= i_extensao.i_predio_situacao %></td>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu" style="">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_i_extensao_path(i_extensao), class: "dropdown-item" do %>
                      <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <%= form_for i_extensao, method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer " data-confirm-delete="<%= i_extensao_path(i_extensao) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i>Excluir
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= render "shared/pagy", pagy: @pagy %>
  </div>
</div>
<%= render "modal_extensao"%>
