<%= render "shared/context_nav", title: t("activerecord.models.#{IMedicao.model_name.i18n_key}.other"), new_path: new_i_acordo_i_medicao_path(@i_acordo) do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{IAcordo.model_name.i18n_key}.other"), i_acordo_i_medicoes_path, class: "text-dark" %></span>
  <%= render "shared/breadcrumbs/i_acordo" %>
  <span class="breadcrumb-item active"><%= t("activerecord.models.#{IMedicao.model_name.i18n_key}.other") %></span>
<% end %>
<div class="card">
  <div class="card-header d-flex">
    <%= search_form_for @q, url: i_acordo_i_medicoes_path(@i_acordo), html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
      <%= 
        f.search_field :i_acordo_descricao_or_i_notificacao_descricao_cont, 
        class: "form-control", 
        placeholder: "Pesquisar",
        "data-bs-popup": "tooltip",
		    "data-bs-original-title": "Pesquise por Contrato e Notificação"
      %>
      <%= f.button(type: 'submit', class: 'btn btn-info') { tag.i(class: 'ph-magnifying-glass') } %>
      <%= link_to  tag.i(class: 'ph-x-circle'), i_acordo_i_medicoes_path, class: "btn btn-light" if params[:q] %>
    <% end %>
  </div>
  <div class="card-body">
    <%= render "shared/notice" %>
    <div class= "table-responsive" style= "max-height: 900px; overflow-y: auto;">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th><%= sort_link(@q, :i_acordo, t("activerecord.attributes.i_medicao.i_acordo")) %></th>
            <th><%= sort_link(@q, :numero_medicoes, t("activerecord.attributes.i_medicao.numero_medicoes")) %></th>
            <th><%= sort_link(@q, :data_inicio, t("activerecord.attributes.i_medicao.data_inicio")) %></th>
            <th><%= sort_link(@q, :data_fim, t("activerecord.attributes.i_medicao.data_fim")) %></th>
            <th><%= sort_link(@q, :valor, t("activerecord.attributes.i_medicao.valor")) %></th>
            <th><%= sort_link(@q, :i_notificacao, t("activerecord.attributes.i_medicao.i_notificacao")) %></th>
            <th><%= sort_link(@q, :percentual_fiscal, t("activerecord.attributes.i_medicao.percentual_fiscal")) %></th>
            <th><%= sort_link(@q, :percentual_contratante, t("activerecord.attributes.i_medicao.percentual_contratante")) %></th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @i_medicoes.each do |i_medicao| %>
            <tr>
              <td><%= i_medicao.i_acordo %></td>
              <td><%= i_medicao.numero_medicoes %></td>
              <td><%= formatar_data(i_medicao.data_inicio) %></td>
              <td><%= formatar_data(i_medicao.data_fim) %></td>
              <td><%= formatar_real(i_medicao.valor) %></td>
              <td><%= i_medicao.i_notificacao %></td>
              <td><%= formatar_percentual(i_medicao.percentual_fiscal) %></td>
              <td><%= formatar_percentual(i_medicao.percentual_contratante) %></td>
              <td class="text-center">
                <div class="dropdown-toggle">
                  <a href="#" class="text-body dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph-gear"></i>
                  </a>
                  <div class="dropdown-menu" style="">
                    <div class="dropdown-header">Opções</div>
                    <%= link_to edit_i_acordo_i_medicao_path(@i_acordo, i_medicao), class: "dropdown-item" do %>
                      <i class="ph-pen me-2"></i> Editar
                    <% end %>
                    <%= link_to i_acordo_i_medicao_i_orcamentos_path(@i_acordo, i_medicao), class: "dropdown-item" do %>
                      <i class="ph-coins me-2"></i> Orçamentos
                    <% end %>
                    <%= form_for [@i_acordo, i_medicao], method: :delete do |f| %>
                      <a class="dropdown-item hand-pointer " data-confirm-delete="<%= i_acordo_i_medicao_path(@i_acordo, i_medicao) %>" data-csrf-token="<%= form_authenticity_token %>">
                        <i class="ph-trash-simple me-2"></i>Excluir
                      </a>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= render "shared/pagy", pagy: @pagy %>
  </div>
</div>
