<div id="<%= dom_id i_relacao_inspecao %>">
  <p>
    <strong>I tipo item inspecao:</strong>
    <%= i_relacao_inspecao.i_tipo_item_inspecao_id %>
  </p>

  <p>
    <strong>I item inspecao:</strong>
    <%= i_relacao_inspecao.i_item_inspecao_id %>
  </p>

  <p>
    <strong>I tipo inspecao:</strong>
    <%= i_relacao_inspecao.i_tipo_inspecao_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= i_relacao_inspecao.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= i_relacao_inspecao.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= i_relacao_inspecao.deleted_at %>
  </p>

</div>
