<div id="<%= dom_id g_indice_socioeconomico %>">
  <p>
    <strong>Indice:</strong>
    <%= g_indice_socioeconomico.indice %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= g_indice_socioeconomico.g_municipio_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= g_indice_socioeconomico.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= g_indice_socioeconomico.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= g_indice_socioeconomico.deleted_at %>
  </p>

</div>
