<div id="<%= dom_id i_nivel_acordo %>">
  <p>
    <strong>Descricao:</strong>
    <%= i_nivel_acordo.descricao %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= i_nivel_acordo.created_by %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= i_nivel_acordo.updated_by %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= i_nivel_acordo.deleted_at %>
  </p>

</div>
