<%= render "shared/context_nav", title: t("activerecord.models.#{GLocalidade.model_name.i18n_key}.other") do  %>
  <% if usuario_seduc %>
    <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{GPais.model_name.i18n_key}.other"), g_paises_path, class: "text-dark" %></span>
    <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{GEstado.model_name.i18n_key}.other"), g_estados_path, class: "text-dark" %></span>
    <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{GMunicipio.model_name.i18n_key}.other"), g_municipios_path, class: "text-dark" %></span>
    <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{GDistrito.model_name.i18n_key}.other"), g_distritos_path, class: "text-dark" %></span>
  <% end %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{GLocalidade.model_name.i18n_key}.other"), g_localidades_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@g_localidade) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0"><%= @g_localidade.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{GLocalidade.model_name.i18n_key}.one") %></h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= render "shared/notice" %>
      <div class="row">
        <div class="col-12 col-md-7">
          <%= f.input :descricao, input_html: { class: "keyup"}  %>
        </div>
        <div class="col-12 col-md">
          <%= f.association :g_distrito, input_html: { class: "select2"}  %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= btn_submit(f) %>
      <%= link_to "Voltar", g_localidades_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
